{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="cart-card">
            <a class="btn btn-outline-secondary" href="{% url 'store' %}">&#8592;Continue Shopping</a>
            <hr>
            <p class="totality">Item:<strong>{{ order.get_total_items }}</strong></p>
            <p class="totality">Total:<strong>{{ order.get_cart_total|floatformat:2 }}</strong></p>
            <a class="btn btn-success" href="{% url 'checkout' %}" style="float:right;">Checkout</a>
        </div>
    </div>
    <div class="row">
        <div class="cart-card">
            <div class="cart-row" style="font-size:17px;font-weight:bold;border-bottom: 1px solid black">
                <div style="flex: 2"></div>
                <div style="flex: 2">Item</div>
                <div style="flex: 1">Price</div>
                <div style="flex: 1">Quantity</div>
                <div style="flex: 1">Total</div>
            </div>
            {% for orderitem in orderitems %}
                <div class="cart-row" style="font-size:17px;">
                    <div style="flex: 2"><img class="cart-pic" src="{{ orderitem.product.imageURL }}"></div>
                    <div style="flex: 2"><br>{{ orderitem.product.name }}</div>
                    <div style="flex: 1"><br>${{ orderitem.product.price|floatformat:2 }}</div>
                    <div style="flex: 1"><br>{{ orderitem.quantity }}
                        <div class="chg-quantity-block">
                            <img data-product='{{ orderitem.product.id }}' data-action="add" src="{% static 'images/arrow-up.png' %}" class="chg-quantity update-cart">
                            <img data-product='{{ orderitem.product.id }}' data-action="remove" src="{% static 'images/arrow-down.png' %}" class="chg-quantity update-cart">
                        </div>
                    </div>
                    <div style="flex: 1"><br>${{ orderitem.get_total|floatformat:2 }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}