{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-lg-4 store-card">
            <img class="store-pic" src="{% static 'images/cart_image_placeholder.png' %}">
            <br>


            <div class="box-element">
                <h5>Product name</h5>
                <hr>
                <button class="btn btn-outline-secondary update-cart">Add to Cart</button>
                <button class="btn btn-outline-success">View</button>
                <h4 class="store-price">$40</h4>
            </div>
        </div>
        <div class="col-lg-4 store-card">
            <img class="store-pic" src="{% static 'images/cart_image_placeholder.png' %}">
            <br>


            <div class="box-element">
                <h5>Product name</h5>
                <hr>
                <button class="btn btn-outline-secondary update-cart">Add to Cart</button>
                <button class="btn btn-outline-success">View</button>
                <h4 class="store-price">$40</h4>
            </div>
        </div>
        <div class="col-lg-4 store-card">
            <img class="store-pic" src="{% static 'images/cart_image_placeholder.png' %}">
            <br>


            <div class="box-element">
                <h5>Product name</h5>
                <hr>
                <button class="btn btn-outline-secondary update-cart">Add to Cart</button>
                <button class="btn btn-outline-success">View</button>
                <h4 class="store-price">$40</h4>
            </div>
        </div>
        <div class="col-lg-4 store-card">
            <img class="store-pic" src="{% static 'images/cart_image_placeholder.png' %}">
            <br>


            <div class="box-element">
                <h5>Product name</h5>
                <hr>
                <button class="btn btn-outline-secondary update-cart">Add to Cart</button>
                <button class="btn btn-outline-success">View</button>
                <h4 class="store-price">$40</h4>
            </div>
        </div>
    </div>
{% endblock %}