{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row">
    {% for product in products %}
        <div class="col-lg-4 store-card">
            <img class="store-pic" src="{{product.image.url}}">
            <br>
            <div class="box-element">
                <h5>{{ product.name}}</h5>
                <hr>
                <button data-product="{{ product.id }}" data-action="add" class="btn btn-outline-secondary update-cart">Add to Cart</button>
                <button class="btn btn-outline-success">View</button>
                <h4 class="store-price">${{ product.price|floatformat:2 }}</h4>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}